{style}{literal}
    .ow_avatar_console .ow_avatar_label {
        bottom: 5px;
        right: 5px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
    }
{/literal}{/style}

{if $owner}
    {script}
        {literal}
        (function(){
            $("#avatar-console").hover(
              function(){
                $("#avatar-change").fadeIn("fast");
              },
              function(){
                $("#avatar-change").fadeOut("fast");
              }
          );    		
       }());
       {/literal}
    {/script}
{/if}


	<div class="ow_avatar_console ow_center" id="avatar-console">
		<div style="height: {$avatarSize}px; background: url({$avatar}) no-repeat center center; width: 100%">
		    {if $owner}
		    <div class="ow_avatar_change" id="avatar-change" style="display: none">
		        <a class="ow_lbutton" href="{$changeAvatarUrl}">{text key='base+avatar_change'}</a>
		    </div>
		    {/if}
		    {if isset($role.label)}<span class="ow_avatar_label {if $isUserOnline}avatar_console_label{/if}"{if isset($role.custom)} style="background-color: {$role.custom}"{/if}>{$role.label}</span>{/if}
		</div>
		<div class="user_online_wrap">{if $isUserOnline}{online_now userId=$userId}{/if}</div>
	</div>