{if $ownerMode || ($adminMode && !$superAdminProfile)}
    {style}
        {literal}
            .ow_edit_profile_link
            {
                position: absolute;
                right: 0px;
                top: 0px;
            }
        {/literal}
    {/style}
    {script}
        {literal}
            (function(){
                $(".user_profile_data").hover(
                  function(){
                    $("#edit-profile").fadeIn();
                  },
                  function(){
                    $("#edit-profile").fadeOut();
                  }
              );
           }());
       {/literal}
    {/script}
{/if}

<div style="position:relative;">
    <div class="user_profile_data">

    <div class="user_view_menu">
        {$menu}
    </div>

    {if $ownerMode || ($adminMode && !$superAdminProfile) }
        <div style="display: none;" id="edit-profile" class="ow_edit_profile_link">
            <a class="ow_lbutton" href="{$profileEditUrl}">{text key='base+edit_profile_link'}</a>
        </div>
    {/if}
    
    {foreach  from=$questionArray key='section' item='questions'}
        <table class="ow_table_3 ow_nomargin section_{$section} data_table" {if $firstSection !== $section}style="display:none;"{/if}>
            {foreach  from=$questions key='sort' item='question' name='question'}
                {if isset( $questionData[$question.name] ) }
                    <tr class="{if $smarty.foreach.question.first}ow_tr_first{/if} {if $smarty.foreach.question.last}ow_tr_last{/if}">
                        <td class="ow_label" style="width: 20%">{if empty($questionLabelList[$question.name])}{text key="base+questions_question_`$question.name`_label"}{else}{$questionLabelList[$question.name]}{/if}</td>
                        <td class="ow_value"><span class="{if !empty($question.hidden)}ow_field_eye ow_remark profile_hidden_field{/if}">{$questionData[$question.name]}</span></td>
                    </tr>
                {/if}
            {/foreach}
        </table>
    {/foreach}
    </div>
    
{add_content key='socialsharing.get_sharing_buttons' title=$displayName image=$avatarUrl entityType='user' entityId=$userId }
</div>

